<h2>Like it, Share it!</h2>
<br />
<% if @@object %>
    <img class="image1" src="<%= @@object.images.first.src.to_s %>"/>
    <h2><%= @@object.title %></h2>
    <br />
    <br />

    <form action="/articles" method="post">
      <div class="form-group">
        <label class="formlabels" for="title">Description :</label>
        <input type="text" name="title" value="<%= @@object.description %>" class="form-control">
      </div>
      <div class="form-group">
        <label class="formlabels" for="link">Link : </label>
        <input type="text" name="link" value="<%= @@url %>" class="form-control">
      </div>
      <div class="form-group">
        <label class="formlabels" for="link">Image :</label>
        <input type="text" name="image" value="<%= @@object.images.first.src.to_s %>" class="form-control">
      </div>
        <input type="hidden" name="shared_by" value="<%= @user.name%>">
        <% if @tags %>
        <label class="formlabels" for="tag_ids[]">Select A tag :</label>
        <select multiple class="form-control" name="tag_ids[]">
          <% @tags.each do |tag| %>
           <option value="<%= tag.id%>"><%= tag.name%></option>
          <% end %>
        </select>
          <% end %>
        <label class="formlabels" for="tag_create">Or Create a Tag :</label>
        <input type="text" name="tag_create" class="form-control">
      <br />
      <br />
        <button type="submit" class="myButton">Share it!</button>
          <a href="/main" class="myButton">Cancel</a>
    </form>



      <% else %>

      <h2>Ooops....</h2>
      <h2>Our crawler cannot find what you typed in</h2>
      <a href="/main" class="button2">Try again</a>
    </div>
    <% end %>
