<h1>Welcome, <%=@user.name%>!</h1>
<a href="/logout">Log Out</a>

<%= @nav %>

<form id="search" action="/search">
  <label>Search:</label>
  <input type="text" name="user_name" id="user_name" required=true/>
  <button>Search</button>
</form>

<form action="/link">
  <label>Enter URL of article</label>
  <input type="text" name="url" id="url" required=true/>
  <button>Submit</button>
</form>


<h2>The list of bookmark below:</h2>
<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= article.title%>, <%= article.link%>, shared_by <%= article.shared_by%> | tags: <% article.tags.each do |tag| %><%= tag.name%><% end %></li>
    <% end %>
  </ul>
<% end %>
